body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(214, 212, 208);
}

h1 {
    font-size: 60px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.form {
    justify-content: center;
}

.button {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    color: antiquewhite;
    border-radius: 3px;
    margin-top: 25px;
    text-transform: capitalize;
    font-size: 17px;
}

.taka {
    max-width: 100px;
    height: 100px;
    background-color: powderblue;

}

.fast-section {
    background-image: url("images/dona.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 0;
    position: relative;
    text-align: center;
    padding: 100px;
    position: relative;
    z-index: 99999999999;
}

.fast-section h1 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

.fast-section p {
    color: white;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.5px;
}

.second-section {
    text-align: center;
    border: 5px;
}

.second-section h1 {
    font-weight: 600;
    text-align: center;
}

.donate-today {
    text-align: center;
    background-color: aqua;
    padding: 20px;
    font-weight: 500;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;